.container {
  padding: 20px;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.timeTop {
  font-weight: bold;
  color: blue;
}

.vs {
  margin: 5px 0;
}

.empty {
  background: #eee;
  height: 100%;
}